<div class="container">

    <table class="table table-striped">
        <thead>
            <th>Nom</th>
            <th>Description</th>
            <th>Prix</th>
            <th>Quantite</th>
        </thead>
        <tbody *ngFor="let product of products">
        <tr>
            <td>{{product.nom}}</td>
            <td>{{product.description}}</td>
            <td>{{product.prix}}</td>
            <td>{{product.quantite}}</td>
        </tr>

      
     </tbody>
    </table>
    <div class="d-flex justify-content-end">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo; Previous</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">Next &raquo;</span>
                </a>
                </li>
            </ul>
            </nav> 
    </div>
</div>
    


